<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Login</title>
    

    <style>
     body {
	background-image: url('https://video-images.vice.com/articles/5a37e00914042c66c520d191/lede/1513611571355-twitter-purge.jpeg?crop=1xw:0.8470588235294118xh;center,center');
	background-attachment: fixed;
	background-size: cover;
	text-align: center;
	font-family:'Times New Roman', Times, serif;
  }   
  </style>


</head>

<body>
    <h1 style="font-family:'Times New Roman', Times, serif; color:rgb(1, 1, 14);font-size:240%;">WELCOME TO MEDIA EXTRACTOR BY TANISHA GUSAIN.</h1>
    <h2 style="font-size:160%;">A place where you can easily extract media just by entering the hashtag.</h2>

<form action="http://127.0.0.1:5000/login" method="POST" >
    <!-- <label for="nm">Name</label> -->

    <p style="font-family:'Times New Roman', Times, serif;font-size:130%;">Enter hashtag Below:</p>

   <p> <input style=" padding: 5px 15px;" type="text" name="nm">
    <input style=" padding: 5px 15px;
    background: #3399c9;" type="submit"  value="submit"> </p>

</form>

<button style="background-color:rgb(60, 131, 163); padding: 15px 40px; margin:2rem;font-size: 20px;position:absolute;
bottom:0px;">
    <a style="color: black; " href="http://127.0.0.1:5000/about">About</a>   
  </button>

</body>
</html>